<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<div class="ui four column grid">
  <div>
    <div  *ngIf = "!addedToWishlist">
    <button   class="btn btn-primary" (click)=addtofav(videos)>Add to favourite</button>
  </div>

  <div *ngIf = "addedToWishlist">
    <button  class="fas fa-heart float-right" (click)=removeVideo(videos)>Ufavourite</button>
  </div>
  
    <i *ngIf = "addedToWishlist;" class="fas fa-heart float-right" (click) = handleAddToWishList()></i> 
    <i *ngIf = "!addedToWishlist" class="far fa-heart float-right" (click) =  handleRemoveWishList()></i>
    <div class="ui card">
      <div class="image">
        <img [src]="videos.thumbnail">
      </div>
      <div class="content">
        <a class="header" style="margin: 1em 0 1em 0;">{{ videos.title }}</a>
        <div class="meta">
          <span class="date" style="font-weight: bolder;">
            <a [href]="videos.channelUrl" target="_blank">{{ videos.channelTitle }}</a>
          </span>
          <span class="ui right floated date" style="font-weight: bolder;">{{ videos.publishedAt | date:'mediumDate' }}</span>
        </div>
        <div class="description">
          {{ videos.description?.slice(0,50) }}...
        </div>
      </div>
      <a [href]="videos.videoUrl" target="_blank" class="extra content">
        <button class="ui right floated tiny red right labeled icon button">
          <i class="external alternate icon"></i>
          Watch
        </button>
       
        
      </a>
       
         
      
      
    </div>
  </div>
</div>

