<div class="wrapper">
  <div class="content">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<mat-toolbar color ="primary">
  <span>ViewTube App</span>
  <span class="example-spacer"></span>
  <div style = "display: flex; justify-content: flex-end">
  <button routerLink="Fav" class="byn btn-primary">
    Favourite
  </button>
  <button (click)="modetoogle()">Change Mode</button>
</div>
</mat-toolbar>


<router-outlet></router-outlet>
</div>
</div>