<ng-container *ngIf = "List.length != 0">
    
 <div class="container">
    <div class="card-table">
        <div class="cart-product">
            <table class="table table-responsive">
                <thead>
                    <tr>
   <th>Sr.No </th>
   
   <th>title</th>
   
   <th>description</th>
   <th>thumbnail</th> 
   <th>Actions</th>                </tr>
               </thead>
               <tbody>
                <button  routerLink="/Search" class="btn btn-primary">Add Now</button>
                   <tr *ngFor="let item of List;let i = index">
                       <td>{{i+1}}                        
                       </td>
                       
                       
                       <td>{{item.title}}</td>
                      
                       <td>{{item.description}}</td>
                       <td> <img [src]="item.thumbnail"></td>
                       <td><button (click)="removeVideo(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></td>
                   </tr>
               </tbody>
            </table>
        </div>
    </div>
 </div>


</ng-container>

<ng-container *ngIf= " List.length==0">
<div id="content" class="container">
    <div class="card">
        <h5 class="card-title">My Fav</h5> 

    </div>

<div class="center">
    <img src="https://cdn.xxl.thumbs.canstockphoto.com/flat-design-empty-heart-shaped-box-icon-vector-illustration-image_csp39226178.jpg">
    <h4>No Favourte added</h4>
    <h6>Add Favourte</h6>
    <button  routerLink="/Search" class="btn btn-primary">Add Now</button>
</div>

</div>
</ng-container>