/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


::before,
::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-bg:white;
    --color-text:black;
}
[dark-theme="dark"]
{

    --color-bg:black;
    --color-text:white;
}